body 
{
	background-image:url('sora.jpg');
	background-color:#d0f30b;
}
 
body {
	background-color:#d0e4fe;
}
p{
	color:rgb(255, 0, 128);
	text-align:center;
}
p {
	font-family:"Times New Roman";
	font: size 50px;}